# ==============================
# Node.js & NPM
# ==============================
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# ==============================
# Environment Files
# ==============================
.env
api-gateway/.env
identity-service/.env
media-service/.env
post-service/.env
search-service/.env

# ==============================
# Log Files
# ==============================
*.log
api-gateway/*.log
identity-service/*.log
media-service/*.log
post-service/*.log
search-service/*.log

# ==============================
# Kubernetes Manifests (Sensitive Files)
# ==============================
manifests/app.yaml
manifests/backup.yaml
manifests/deployment copy.yaml

# ==============================
# Terraform Files
# ==============================
# Local .terraform directories (HUGE binaries)

terraform/.terraform/
terraform/.terraform/*
terraform/.terraform/providers/**

# Terraform lock file
terraform/.terraform.lock.hcl

# State files (sensitive)
terraform.tfstate
terraform.tfstate.backup
terraform/*.tfstate
terraform/*.tfstate.backup

# Sensitive Variables
*.tfvars
*.tfvars.json

# ==============================
# OS & Editor Files
# ==============================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
